:root{
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;

    --logo-header-color: #000000;
    --logo-header1-color: #2196F3;
    --logo-footer-color: #ffffff;
    --logo-footer1-color: #2196F3;
}

/* цвет лого - синий  #2196F3  черн   #000000 */
/* цвет основной -  #212121 */
/* цвет дополн -    #757575 */
/* при выделении -  белый   #FFFFFF    синий    #2196F3 */



body{
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}

/* header */

.list{
    list-style: none;
}
.logo{
    color: var(--logo-header-color);
}
.logo-web{
    color: var(--logo-header1-color);
}
.site-nav .link{
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-address .link{
    color:  var(--text-color);
}
.site-address .link:hover,
.site-address .link:focus{
    color:  var(--accent-color);
}
 
/* main */ /* Герой */

.hero{
    background-color: #2F303A;
    color: #FFFFFF;
}
/* .hero .hero-title{
    color: #FFFFFF;
} */
.hero .hero-link{
    color: #FFFFFF;
}

/* main *//* Преимущества */

/* .section-title{
    
}*/
/* .section .subtitle{
    
} */
.benefits-list .text{
    color: var(--text-color);
}

/* main *//* Чем занимаемся */

/* main *//* Команда */

.staff-list .career{
    color: var(--text-color);
}


/* Футер */
.footer{
    background-color: #2F303A;;
}
.footer .logo{
    color: var(--logo-footer-color);
}
.footer .logo-web{
    color: var(--logo-footer1-color);
}
.address .site-address{
    color: rgba(255, 255, 255, 0.6);
}
.address .site-address:hover,
.address .site-address:focus{
    color:  var(--accent-color);
}
.address .text{
    color: #ffffff;
}